<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="provider" value="System.Data.SqlClient" />
	</appSettings>
	<connectionStrings>
		<add name="SQLProvider" connectionString="Data Source=Beneduk\SQLEXPRESS;Initial Catalog=TestSystem;User ID=sa;Password=1;Trust Server Certificate=True"/>
	</connectionStrings>
</configuration>